body {
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
}
.container {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "rel rel rel"
    "ft ft ft";
}
.header {
    margin-top: 0;
    grid-area: header;
    background-color: rgb(0, 0, 0);
}
.main {
    grid-area: main;
    background-color: whitesmoke;
}
.relContent {
    grid-area: rel;
    background-color: whitesmoke;
}
.footer {
    grid-area: ft;
    background-color: rgb(201, 201, 201);
}

@media screen and (min-width:750px) {
    .container {
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 0.95fr 0.95fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 0.5fr;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "rel rel"
    "ft ft";
    }
    .header {
        margin-top: 0;
        grid-area: header;
        background-color: rgb(0, 0, 0);
    }
    .main {
        grid-area: main;
        background-color: whitesmoke;
    }
    .relContent {
        grid-area: rel;
        background-color: whitesmoke;
    }
    .footer {
        grid-area: ft;
        background-color: rgb(201, 201, 201);
    }
} 