.container {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.25fr 1.5fr 1fr 0.1fr 0.15fr 0.05fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "sd sd sd"
    "rel rel rel"
    "back back back"
    "ft ft ft";
}
.header {
    margin-top: 0;
    grid-area: header;
    background-color: rgb(0, 0, 0);
}
.main {
    grid-area: main;
    background-color: whitesmoke;
}
.sidebar {
    grid-area: sd;
}
.relContent {
    grid-area: rel;
    background-color: rgb(226, 226, 226);
}
.back {
    grid-area: back;
    background-color: whitesmoke;
}
.footer {
    grid-area: ft;
    background-color: rgb(201, 201, 201);
}

/*I'm gonna set a breakpoint at 750px, because it gets a little wonky after
that width*/

@media screen and (min-width:600px) {
    .container {
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 0.95fr 0.95fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.05fr;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "sd rel"
    "ft ft";
    }
    .header {
        margin-top: 0;
        grid-area: header;
        background-color: rgb(0, 0, 0);
    }
    .main {
        grid-area: main;
        background-color: whitesmoke;
    }
    .sidebar {
        grid-area: sd;
    }
    .relContent {
        grid-area: rel;
        background-color: whitesmoke;
    }
    .footer {
        grid-area: ft;
        background-color: rgb(201, 201, 201);
    }
} 